.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animeList-container,
.loading-container {
  min-width: 100%;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.profile-container,
.resetPassword-container,
.home-container,
.animeDetails-container {
  min-width: 100%;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.card-details {
  max-width: 60%;
}

.login-container,
.register-container,
.resetPassword-container {
  background-color: white !important;
}

.carousel-item > img {
  width: auto;
  height: 93vh;
  max-height: 100%;
  filter: brightness(40%);
}

.carousel-caption {
  position: absolute;
  top: 30%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}

.darkBG {
  background: rgb(24, 24, 24);
}

.dark2BG {
  background: rgb(61, 61, 61);
}

.navbar-brand {
  margin-left: 15px !important;
}

.fa-arrow-left {
  top: 73px;
  left: 43px;
}

.display-linebreak {
  white-space: pre-line;
}

.register-form,
.login-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 13px;
}

.header {
  margin-bottom: 5px;
}

.card {
  height: 100%;
}
.fa-search {
  color: #939597;
}
img {
  max-height: 70%;
}
