.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animeList-container,
.animeDetails-container,
.loading-container {
  min-width: 100%;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.profile-container {
  min-width: 100%;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: fixed;
}

.login-container,
.register-container {
  background-color: white !important;
}

.navbar-brand {
  margin-left: 15px !important;
}

.fa-arrow-left {
  top: 73px;
  left: 43px;
}

.register-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 13px;
}

.header {
  margin-bottom: 5px;
}

.card {
  height: 100%;
}

img {
  max-height: 75%;
}
